Repository jesstainaix/Studiotreiax: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{json,css,scss,md}": [
    "prettier --write"
  ],
  "*.{ts,tsx}": [
    "bash -c 'tsc --noEmit'"
  ]
}

Add avatar generation and management capabilities for the platform
  project/data/scene_config.json
  project/providers/avatars/did.ts
  project/providers/avatars/index.ts
  project/providers/avatars/mock.ts
  project/providers/avatars/reallusion.ts
  project/providers/avatars/types.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

Add avatar management and scene assignment capabilities
  project/ui/SceneManager.ts
  project/ui/right-panel/AvatarsLibrary.tsx
  project/ui/right-panel/ScenePreview.tsx
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

Add server-side avatar generation and scene configuration
  .replit
  api/avatars/generate.js
  api/scene-config/index.js
  project/providers/avatars/index.ts
  project/ui/AvatarManagementDemo.tsx
  project/ui/ErrorBoundary.tsx
  project/ui/SceneManager.ts
  project/ui/right-panel/AvatarsLibrary.tsx
  project/ui/right-panel/ScenePreview.tsx
  simple-server.js
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

Fix error displaying timeline progress by correctly accessing state
  src/components/pptx/TimelineEditor.tsx
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

Fix error by correctly referencing scene information in the timeline editor
  .replit
  src/components/pptx/TimelineEditor.tsx
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

Add text-to-speech narration for Portuguese content
  project/providers/tts/elevenlabs.ts
  project/providers/tts/heygen.ts
  project/providers/tts/index.ts
  project/providers/tts/mock.ts
  project/providers/tts/types.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

Add AI narration generation for presentation scenes
  project/hooks/useGenerateNarration.ts
  project/services/narration.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

Add audio narration generation and synchronization features
  project/data/scene_config.json
  project/test_narration_phase3.js
Due: eslint --fix, prettier --write

Add tests for AI narration generation and file structure
  project/test_narration_phase3.cjs
Due: none

Add tests for AI narration audio generation and file structure
  project/test_narration_phase3.cjs
  project/test_narration_phase3.js
Due: eslint --fix, prettier --write

Add scene editing and preview capabilities to the presentation tool
  project/data/scene_layers.json
  src/components/pptx/ElementsPanel.tsx
  src/components/pptx/EnhancedScenePlayer.tsx
  src/components/pptx/EnhancedTimelineEditor.tsx
  src/hooks/useSceneLayersManager.ts
  src/types/SceneLayers.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

Update scene player and timeline for enhanced editing capabilities
  src/components/pptx/HeyGenStudioInterface.tsx
  src/components/pptx/ResponsiveOptimizer.tsx
  src/services/SceneLayersService.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

Integrate scene layers functionality and enhance responsiveness
  .replit
  api-server.js
  server/routes/scene-layers.js
  src/components/pptx/EnhancedScenePlayer.tsx
  src/components/pptx/EnhancedTimelineEditor.tsx
  src/components/pptx/ResponsiveOptimizer.tsx
  src/hooks/useSceneLayersManager.ts
  src/services/SceneLayersService.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

Adapt the application to run effectively in a production environment
  .replit
  api-server.js
  package.json
  vite.config.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

Enable production builds to use compression for faster asset loading
  .replit
  vite.config.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

Improve production deployment and server performance
  api-server.js
  package.json
Due: eslint --fix, prettier --write

Update dependencies to improve performance and security
  .replit
Due: none

Add comprehensive video rendering pipeline and testing
  .replit
  project/test-render-pipeline.js
  project/ui/ExportControls.tsx
  project/workers/render/FinalExporter.ts
  project/workers/render/LipSyncOrchestrator.ts
  project/workers/render/ProgressTracker.ts
  project/workers/render/RenderOrchestrator.ts
  project/workers/render/RenderQueue.ts
  project/workers/render/SubtitleGenerator.ts
  project/workers/render/VideoCompositor.ts
  server/api/render.js
  simple-server.js
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

Update rendering pipeline to use a TypeScript component bridge
  server/adapters/render-bridge.js
  server/api/render.js
Due: eslint --fix, prettier --write

Add secure file download endpoint and scene layer routes
  simple-server.js
Due: eslint --fix, prettier --write

Add cinematic scene and smart script editing tools
  .replit
  src/components/editor/CinematicSceneEditor.tsx
  src/components/editor/SmartScriptEditor.tsx
  src/services/AvatarCommunicationSystem.ts
  src/services/GestureEmotionLibrary.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

Add foundational 3D environment and physics systems
  .replit
  src/components/editor/TerrainEditor.tsx
  src/services/Custom3DEnvironments.ts
  src/services/PhysicsSystem.ts
  src/services/WeatherLightingSystem.ts
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'

Add 3D environment and terrain editing capabilities
  .replit
  src/components/AppRouter.tsx
  src/components/editor/TerrainEditor.tsx
  src/contexts/Scene3DContext.tsx
  src/pages/Environment3D.tsx
Due: eslint --fix, prettier --write, bash -c 'tsc --noEmit'
